.Posts {

  display: flex;
  flex-wrap: wrap;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: $base_spacing;
    background-color: $color-base;
  }

  &__list__item {
    @media screen and (min-width: $bp3) {
      // width: 300px;
    }
    flex: 0 375px;
    // flex: 0 375px;
  }


}
