.Widget {
  padding: $base_spacing;
  // width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__title {
    flex: 1 100%;
    text-align: center;
  }

  &__list {
    text-align: left;
    // border: 1px solid $color-base;
    border-radius: 5px;
    padding: $base_spacing;
    background-color: $color_alt;
  }

  &--list {
    width: 100%;
    margin: $base_spacing 0;
  }
}
