

figure.active {
  opacity: .5;
  width: 50%;
  transition-duration: .3s;
  transition-property: all;
}

svg {
  width: 100%; height: auto;
}
// Base
body {
  font-family: Open Sans;
  font-size: $font_size;
  line-height: 1.9;
  letter-spacing: 1px;
  // background-color: $color-alt;
  @media screen and (min-width: 1024px ) {
    // font-size: 125%;
  }
}

a {
  text-decoration: none;
  color: $color-base;
}

section {
  // margin-top: $base_spacing;
}

dl {
  // background-color: red;
  flex: 0 350px;
  text-align: center;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  // color: $color_gray;
}

img {
  max-width: 100%;
}

blockquote {
  color: $color_base;
  border-left: 1px solid $color_alt;
  padding: $base_spacing;
  font-weight: bold;
  font-size: 130%;
  margin-left: 0;
}

figure {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: $base_spacing/2;
  figcaption {
    color: $color_black;
  }
}
h1,
h2 {
  line-height: 1.3;
  margin-bottom: $base_spacing/2;
  font-weight: bolder;
  font-size: $font-size*2;
  letter-spacing: 0;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  max-width: 100%;
  min-height: 200px;
}
*::-moz-selection {
  color: $color_black;
  background-color: $color_alt;
}
*::selection {
  color: $color_black;
  background-color: $color_alt;
}

button {
  border: none;
}

// Agradecimientos (en el footer)
.agradecimientos {
  padding: $base_spacing;
  background-color: #fff;
}
// Animations
@keyframes dibuja {
  100% {
    stroke-dasharray: 300, 300;
  }
}
@keyframes dibuja2 {
  100% {
    stroke-dasharray: 700, 700;
  }
}
