.btn {
  // align-self: center;
  background-color: transparent;

  a {
    background-color: $color_alt;
    border-radius: $base_spacing / 2;
    // border: 1px solid $color-black;
    padding: ($base_spacing / 1.5) $base_spacing;
    color: $color-black;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
      background-color: $color-base;
    }
  }
}
