
.Site {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  max-width: $bp1;
  margin-left: auto;
  margin-right: auto;

  @media screen and ( min-width: 450px ) {
    // padding-top: 75px;
  }

  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 550px;
    // margin-left: $base_spacing;
    // margin-right: $base_spacing;

    &__content {
      padding-left: $base_spacing;
      padding-right: $base_spacing;
    }

    &__header {
      height: 100vh;
      flex: 1 100%;
      margin-bottom: $base_spacing * 2;
      margin-left: 0;
      margin-right: 0;
      padding-left: $base_spacing;
      padding-right: $base_spacing;
      text-align: center;
      background-color: $color-base;

      h4 {
        max-width: 700px;
        margin-top: 0;
      }
    }

    &__title {
      flex: 1 100%;
      width: 100%;
      font-weight: bolder;
      font-size: $font-size * 2.5;
      letter-spacing: 1px;
      text-align: center;
      // padding-bottom: 0;
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        // min-height: 550px;
        // flex: 1 100%;
    }

    p {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }

    &__article > h2,
    &__article > h4,
    &__article > small,
    &__article > figure figcaption,
    &__article > p {
      padding-left: $base_spacing;
      padding-right: $base_spacing;
    }
    &__article small {
      display: block; // ??
    }

    &--home {
      background-image: url('/assets/img/bg.jpg');
      background-color: $color-base;
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      h1 {
        flex: 1 100%;
      }
    }

    &--hago {
      padding-left: $base_spacing;
      padding-right: $base_spacing;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
    }
    &--pienso {
      padding-left: $base_spacing;
      padding-right: $base_spacing;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &--siento {
      padding-left: $base_spacing;
      padding-right: $base_spacing;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

  }

  &__section__header { //Encabezados de secciones
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: $base_spacing;

    h1 {
      // text-align: center;
      padding: 0 $base_spacing;
      // color: $color-white;
      margin-bottom: 0;
    }
  }

  &__section__header--home {
    // flex-direction: column;
    background-color: $color-base;
    min-height: 500px;
  }

  &__logo {}

  &__name {
    display: none;
  }

  &__description {
    display: none;
    font-size: 65%;
    width: 50px;
    margin-top: 0;
    margin-right: 0;
    line-height: 1.3;
    font-weight: normal;
    letter-spacing: 1px;
  }

  &__header {
    height: 75px;
    position: fixed;
    display: flex;
    max-width: 100%;
    align-items: center;
    // background-color: red;
    // justify-content: space-around;
    top: 0;
    left: 0;
    right: 0;

    @media screen and (min-width: 1528px) {
    }

  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    // margin-left: 0;
    // margin-right: 0;
    // padding-left: $base_spacing;
    // padding-right: $base_spacing;
    // padding-bottom: 0;
    // font-size: 80%;
    line-height: 1;
    align-self: center;
    align-items: center;
    // margin-top: $base_spacing;
    // color: $color-white;
    h3 {
      margin-top: 0
    }
    a {
      // color: $color-alt;
      &:hover {
        color: $color_white;
      }
    }
    &__credits {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 14px;
      color: $color-black-suave;
      // margin-bottom: 0;
      line-height: 1.5;
      flex: 1 100%;
    }
  }
}
