.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.Site__section--home {
  background-image: url("/assets/img/bg.jpg"); }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
