@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body {
  margin: 0; }

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0; }

* {
  box-sizing: border-box; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

input {
  border: none; }

.red {
  fill: red; }

.white {
  fill: black; }

.blue {
  fill: blue; }

.yellow {
  fill: yellow; }

.green {
  fill: green; }

.violet {
  fill: #9632af; }

.overflow-hidden {
  background-color: red; }

figure.active {
  opacity: .5;
  width: 50%;
  transition-duration: .3s;
  transition-property: all; }

svg {
  width: 100%;
  height: auto; }

body {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 1.9;
  letter-spacing: 1px;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease; }

a {
  text-decoration: none;
  color: #81e8b3; }

dl {
  flex: 0 350px;
  text-align: center; }

dt {
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 15px; }

dd {
  line-height: 1.4;
  margin-left: 0;
  margin-bottom: 10px;
  padding-left: 25px; }

img {
  max-width: 100%; }

blockquote {
  color: #81e8b3;
  border-left: 1px solid #fbd2bd;
  padding: 25px;
  font-weight: bold;
  font-size: 130%;
  margin-left: 0; }

figure {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 12.5px; }
  figure figcaption {
    color: black; }

h1,
h2 {
  line-height: 1.3;
  margin-bottom: 12.5px;
  font-weight: bolder;
  font-size: 36px;
  letter-spacing: 0;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }

h3,
h4 {
  line-height: 1.5; }

hgroup {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

iframe {
  max-width: 100%;
  min-height: 200px; }

*::-moz-selection {
  color: black;
  background-color: #fbd2bd; }

*::selection {
  color: black;
  background-color: #fbd2bd; }

button {
  border: none; }

.agradecimientos {
  padding: 25px;
  background-color: #fff; }

@keyframes dibuja {
  100% {
    stroke-dasharray: 300, 300; } }
@keyframes dibuja2 {
  100% {
    stroke-dasharray: 700, 700; } }
.icon-logo {
  fill: none; }

.icon-loader {
  stroke: #81e8b3;
  fill: none;
  width: 100%;
  height: 100px;
  animation-name: loader;
  animation-duration: .2s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 100px;
  left: 100px;
  display: block;
  z-index: 10; }

.icon-toggle {
  stroke: black;
  fill: none;
  width: 49px;
  height: 49px; }

.icon-logo-sf {
  width: 65px; }
  .icon-logo-sf circle {
    fill: white;
    stroke-width: 0px; }
  .icon-logo-sf path {
    stroke: black;
    fill: none;
    stroke-width: 1px; }

.icon-email {
  fill: #81e8b3;
  width: 40px;
  height: 20px; }

.icon-cc {
  fill: #fbd2bd;
  width: 50px;
  height: 12px; }

.icon-heart {
  fill: none;
  width: 150px;
  height: 150px;
  stroke: black;
  stroke-width: 8px; }

.icon-arrow-left path {
  stroke: black;
  stroke-width: 1px; }

.icon-arrow-right path {
  stroke: black;
  stroke-width: 1px; }

.btn {
  background-color: transparent; }
  .btn a {
    border-radius: 12.5px;
    border: 1px solid black;
    padding: 16.66667px 25px;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px; }
    .btn a:hover {
      background-color: #81e8b3; }

.Site {
  display: flex;
  flex-wrap: wrap;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto; }
  .Site__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 550px; }
    .Site__section__content {
      padding-left: 25px;
      padding-right: 25px; }
    .Site__section__header {
      height: 100vh;
      flex: 1 100%;
      margin-bottom: 50px;
      margin-left: 0;
      margin-right: 0;
      padding-left: 25px;
      padding-right: 25px;
      text-align: center;
      background-color: #81e8b3; }
      .Site__section__header h4 {
        max-width: 700px;
        margin-top: 0; }
    .Site__section__title {
      flex: 1 100%;
      width: 100%;
      font-weight: bolder;
      font-size: 45px;
      letter-spacing: 1px;
      text-align: center; }
    .Site__section__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%; }
    .Site__section p {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto; }
    .Site__section__article > h2, .Site__section__article > h4, .Site__section__article > small, .Site__section__article > figure figcaption, .Site__section__article > p {
      padding-left: 25px;
      padding-right: 25px; }
    .Site__section__article small {
      display: block; }
    .Site__section--home {
      background-image: url("/assets/img/bg.jpg");
      background-color: #81e8b3;
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      .Site__section--home h1 {
        flex: 1 100%; }
    .Site__section--hago {
      padding-left: 25px;
      padding-right: 25px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right; }
    .Site__section--pienso {
      padding-left: 25px;
      padding-right: 25px;
      background-repeat: no-repeat;
      background-size: contain; }
    .Site__section--siento {
      padding-left: 25px;
      padding-right: 25px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
  .Site__section__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 25px; }
    .Site__section__header h1 {
      padding: 0 25px;
      margin-bottom: 0; }
  .Site__section__header--home {
    background-color: #81e8b3;
    min-height: 500px; }
  .Site__name {
    display: none; }
  .Site__description {
    display: none;
    font-size: 65%;
    width: 50px;
    margin-top: 0;
    margin-right: 0;
    line-height: 1.3;
    font-weight: normal;
    letter-spacing: 1px; }
  .Site__header {
    height: 75px;
    position: fixed;
    display: flex;
    max-width: 100%;
    align-items: center;
    top: 0;
    left: 0;
    right: 0; }
  .Site__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    line-height: 1;
    align-self: center;
    align-items: center; }
    .Site__footer h3 {
      margin-top: 0; }
    .Site__footer a:hover {
      color: white; }
    .Site__footer__credits {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.3);
      line-height: 1.5;
      flex: 1 100%; }

@keyframes loader {
  50% {
    opacity: .3; } }
@keyframes active {
  50% {
    opacity: .3; } }
.Nav-main {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 450px) {
    .Nav-main {
      display: flex;
      padding-right: 25px; } }
  .Nav-main__item {
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px; }
    .Nav-main__item a {
      color: inherit; }
  .Nav-main-wrap {
    position: relative;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }

.toggle-btn {
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent; }
  .toggle-btn:focus {
    outline: none; }
  @media screen and (min-width: 450px) {
    .toggle-btn {
      display: none; } }

.active {
  animation-name: active;
  animation-duration: 1s;
  animation-iteration-count: infinite; }
  .active.toggle-btn {
    transition-property: opacity;
    transition-duration: .3s;
    transform: rotate(45deg);
    z-index: 10; }
    .active.toggle-btn + .Nav-main {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      align-content: center;
      background-color: white; }
      .active.toggle-btn + .Nav-main .Nav-main__item {
        text-align: center;
        flex: 1 100%;
        font-size: 175%; }
      @media screen and (min-width: 450px) {
        .active.toggle-btn + .Nav-main {
          position: inherit; } }

.List {
  padding-left: 25px; }
  .List__item {
    font-size: .8em;
    margin-bottom: 5.55556px;
    line-height: 1.4; }

.slider {
  display: flex;
  max-width: 700px; }
  .slider button {
    align-self: center;
    width: 50px;
    height: 50px;
    background-color: #81e8b3;
    padding: 12.5px;
    border-radius: 40%; }
    .slider button:hover {
      background-color: #6be4a6; }
  .slider__slide {
    max-width: 550px; }

.Article-header {
  margin-top: 25px;
  text-align: center; }

.Posts {
  display: flex;
  flex-wrap: wrap; }
  .Posts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 25px; }
  .Posts__list__item {
    flex: 0 375px;
    order: 10; }
    .Posts__list__item--opened {
      flex: 1 100%;
      padding-top: 100px;
      order: 1; }

.Works {
  display: flex;
  flex-wrap: wrap; }
  .Works__item {
    margin-bottom: 25px; }
    .Works__item__title {
      margin: 0; }
  .Works__figure {
    margin-bottom: 0; }

.Widget {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .Widget__title {
    flex: 1 100%;
    text-align: center; }
  .Widget__list {
    text-align: left;
    border: 1px solid #81e8b3;
    border-radius: 5px;
    padding: 25px; }
  .Widget--list {
    width: 100%;
    margin: 25px 0; }

.Social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  flex: 1 100%;
  background-color: #e6e6e6;
  min-height: 50vh; }
  .Social__title {
    text-align: center;
    flex: 1 100%;
    margin-bottom: 30px; }
  .Social__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    list-style: none;
    padding: 25px; }
  .Social__item {
    line-height: 1.7;
    margin-right: 12.5px;
    margin-bottom: 0; }
    .Social__item a {
      color: black; }

.Contact-form {
  width: 100%; }
  .Contact-form textarea {
    line-height: 20px;
    flex: 1 300px; }
    @media screen and (max-width: 500px) {
      .Contact-form textarea {
        margin-bottom: 12.5px; } }
  .Contact-form form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; }
  .Contact-form input,
  .Contact-form textarea {
    letter-spacing: 1px;
    font-size: 14px;
    border: none;
    padding: 10px;
    margin-right: 25px;
    margin-left: 25px;
    width: 100%; }
    @media screen and (min-width: 500px) {
      .Contact-form input,
      .Contact-form textarea {
        width: inherit; } }
  .Contact-form input[type="submit"] {
    margin-left: 25px;
    background-color: transparent;
    border: 1px solid black;
    width: inherit; }
  .Contact-form input:last-child {
    display: none; }

.home-title {
  font-weight: bolder;
  font-size: 36px;
  letter-spacing: -1px;
  flex: 1 100%;
  margin-bottom: 0;
  padding-left: 25px;
  padding-right: 25px; }
  @media screen and (min-width: 756px) {
    .home-title {
      font-size: 63px;
      line-height: 1.1;
      padding-left: 75px;
      padding-right: 75px; } }

.home-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.home-img {
  flex: 1 100%; }
